<style>
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;height:150px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap; font-size:12px;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
        #roadview {
            margin:20px;
            height: 200px; /* 변경된 높이값 */
            background: white;
            padding: 20px;
            flex: 20px;
            border-radius: 10px;
            bottom:20px;
        }
        #map {
            width: 64%;
            height: 40%;
            position: absolute;
            left:310px;
            top:80px;
            
        }
        #menu_wrap {
            flex: 0 0 10px;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 10px;
            overflow-y: auto;
            font-size: 12px;
            left:310px;
            top:80px;
            font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;
            width:35%;
        }

        #placesList li {
            list-style: none;
        }

        #placesList .item {
            position: relative;
            border-bottom: 1px solid #888;
            overflow: hidden;
            cursor: pointer;
            min-height: 65px;
        }

        #placesList .item span {
            display: block;
            margin-top: 4px;
        }

        #placesList .item h5,
        #placesList .item .info {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        #placesList .info .gray {
            color: #8a8a8a;
        }

        #placesList .info .jibun {
            padding-left: 26px;
            background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
        }

        #placesList .info .tel {
            color: #009900;
        }

        #placesList .item .markerbg {
            float: left;
            position: absolute;
            width: 36px;
            height: 37px;
            margin: 10px 0 0 10px;
            background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
        }
        #indicator {
            width: 10px;
            height: 10px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
            margin-left: 5px;
            visibility: hidden;
        }
        #audioFile {
            position: relative;
            right: 5px;
    } 
        #startRecordButton:hover,
        #audioFile:hover,
        #stopRecordButton:hover{
             background-color: rgb(84, 176, 212);          
             cursor: pointer;
             background: linear-gradient(180deg, #d8b6ff, #6b2d91);
             border-radius: 4px;
            
    }
        #photo-title,
        #photo-description{
              font: 700 18px/1.39 "Poppins", Helvetica, Arial, serif;
              font-family: 'Noto Sans KR', sans-serif;
        }
        body {
    position: relative;
    min-height: 100vh;
}

        #nextButton {
            position: absolute;  
            top: 95%;            
            left: 50%;           
            transform: translate(-50%, -50%); 
            padding: 10px 20px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            cursor: pointer;
            z-index: 101;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* 그림자 추가 */
            font-weight: bold;  /* 텍스트 두께 조정 */
            color: #333;  /* 텍스트 색상 조정 */
            border-radius: 5px;  /* 버튼 모서리 둥글게 */
            transition: all 0.3s ease;        /* 다른 요소 위에 표시되도록 z-index 값 설정 */
}

}

    
.partial-code.root {
  background-color: white;
  display: grid;
  min-height: 1080px;
  overflow: hidden;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
}
.partial-code .box {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0px 10px 100px 0px rgba(62, 38, 101, 0.149);
  display: grid;
  flex-grow: 1;
  margin: 51px auto;
  min-height: 978px;
  overflow: hidden;
  position: relative;
  width: 95.78%;
}
.partial-code .flex_row {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 0px 0px 53px;
  position: relative;
}
.partial-code .flex_row > .cell {
  display: grid;
  flex: 0 0 272px;
  z-index: 5;
  position:relative;
}
.partial-code .flex_col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 0px 441px;
  position: relative;
}
.partial-code .flex_col > .cell {
  display: grid;
  z-index: 0;
}
.partial-code .cover {
  flex-grow: 1;
  min-height: 484px;
  object-fit: cover;
  width: 100%;
}
.partial-code .flex_col > .cell1 {
  display: grid;
  margin-top: -484px;
  z-index: 1;
}
.partial-code .flex_col > .cell2 {
  display: grid;
  margin-top: -460px;
  z-index: 11;
}
.partial-code .big_title {
  color: white;
  display: flex;
  flex-grow: 1;
  font: 800 34px/1.39 "Poppins", Helvetica, Arial, serif;
  justify-content: flex-end;
  letter-spacing: 0px;
  margin: 0px auto;
  text-align: right;
  width: 128px;
}
.partial-code .flex_col > .cell3 {
  display: grid;
  z-index: 2;
}
.partial-code .icon {
  flex-grow: 1;
  height: 24px;
  margin: 116px 65.07% 0px 26.1%;
  min-height: 24px;
  object-fit: cover;
  width: 24px;
}
.partial-code .flex_col > .cell4 {
  display: grid;
  margin-top: -23px;
  z-index: 3;
}
.partial-code .highlight {
  color: white;
  display: flex;
  flex-grow: 1;
  border: none; background: none; padding: 0; font: inherit; cursor: pointer;  letter-spacing: -0.9px;
  justify-content: flex-end;
  letter-spacing: -1px;
  margin: 0px auto;
  text-align: right;
  width: 58.09%;
}
.partial-code .flex_col > .cell5 {
  display: grid;
  z-index: 4;
}
.partial-code .icon1 {
  flex-grow: 1;
  height: 24px;
  margin: 37px 65.07% 0px 26.1%;
  min-height: 24px;
  object-fit: cover;
  width: 24px;
}
.partial-code .flex_col > .cell6 {
  display: grid;
  margin-top: -23px;
  z-index: 5;
}
.partial-code .highlight1 {
  color: white;
  flex-grow: 1;
  border: none; background: none; padding: 0; font: inherit; cursor: pointer;  letter-spacing: -0.9px;
  margin: 0px auto;
  width: 66px;

}
.partial-code .flex_col > .cell7 {
  display: grid;
  z-index: 6;
}
.partial-code .flex_col > .cell8 {
  display: grid;
  margin-top: -23px;
  z-index: 7;
}
.partial-code .flex_col > .cell9 {
  display: grid;
  z-index: 10;
}
.partial-code .rect {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.5px 1.5px 1.5px 1.5px;
  flex-grow: 1;
  margin: 29px 18.38% 0px 26.1%;
  min-height: 3px;
  width: 55.51%;
}
.partial-code .flex_col > .cell10 {
  display: grid;
  z-index: 8;
}
.partial-code .cover1 {
  border-radius: 20px 20px 20px 20px;
  flex-grow: 1;
  margin: 31px 18.38% 0px 23.53%;
  min-height: 48px;
  object-fit: cover;
  width: 58.09%;
}
.partial-code .flex_col > .cell11 {
  display: grid;
  margin-top: -38px;
  z-index: 9;
}
.partial-code .subtitle {
  color: white;
  display: flex;
  flex-grow: 1;
  font: 500 20px/1.39 "Poppins", Helvetica, Arial, serif;
  justify-content: center;
  letter-spacing: -1.51px;
  margin: 0px 40.44% 0px 45.96%;
  text-align: center;
  width: 13.6%;
}
.partial-code .flex_row > .cell1 {
  display: grid;
  flex: 0 0 950px;
  margin-left: -223px;
  z-index: 0;
  position:relative;
}
.partial-code .flex_col1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 60px 0px;
  margin: 14px 0px 0px;
  position: relative;
}
.partial-code .image4 {
  border-radius: 24px 24px 24px 24px;
  margin: 0px 0px 0px auto;
  min-height: 470px;
  object-fit: cover;
  width: 71.37%;
}
.partial-code .box3 {
  background-color: white;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 10px 10px 80px 0px rgba(62, 38, 101, 0.2);
  display: grid;
  position: relative;
}
.partial-code .flex_row1 {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 0px 11px;
  margin: 16px 16px 16px;
  position: relative;
}
.partial-code .image5 {
  border-radius: 16px 16px 16px 16px;
  flex: 0 0 61px;
  height: 37px;
  margin: 0px 0px 3px;
  min-height: 37px;
  object-fit: cover;
  width: 61px;
}
.partial-code .flex_row1 > .cell {
  display: grid;
  flex: 0 0 56px;
  margin-left: -57px;

}
.partial-code .image6 {
  border-radius: 28px 28px 28px 28px;
  flex-grow: 1;
  height: 33px;
  margin: 4px 0px 3px;
  min-height: 33px;
  object-fit: cover;
  width: 56px;
}
.partial-code .highlight2 {
  color: #242730;
  /*flex: 0 0 62px;*/
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -1px;
  margin: 0px 0px 17px;
  font-size: 16px;
  left: -10px;
  position: relative;
}
.partial-code .flex_row1 > .cell1 {
  display: grid;
  flex: 0 0 100px;
  margin-left: -79px;
}
.partial-code .infor {
  color: #959ba5;
  flex-grow: 1;
  font: 600 12px/1.39 "Poppins", Helvetica, Arial, serif;
  letter-spacing: 0px;
  margin: 23px 0px 0px;
}
.partial-code .flex_row > .spacer {
  flex: 0 1 55px;
}
.partial-code .flex_row > .cell2 {
  display: grid;
  flex: 0 0 728px;
  z-index: 6;

}
.partial-code .flex_col2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 25px 0px;
  margin: 613px 0px 0px;
  position: relative;
}
.partial-code .medium_title {
  color: #242730;
  font: 700 24px/1.39 "Malgun gothic", Helvetica, Arial, serif;
  letter-spacing: 0px;
  margin: 0px 5px;
  font-family: 'Noto Sans KR', sans-serif;

}
.partial-code .flex_col2 > .cell {
  display: grid;
  margin-top: -31px;
}
.partial-code .subtitle1 {
  color: #242730;
  display: flex;
  flex-grow: 1;
  font: 700 20px/1.39 "Poppins", Helvetica, Arial, serif;
  justify-content: flex-end;
  letter-spacing: 0px;
  margin: 0px 40px;
  text-align: right;
}
.partial-code .flex_col2 > .cell1 {
  display: grid;
  margin-top: -20px;
}
.partial-code .image3 {
  flex-grow: 1;
  height: 12px;
  margin: 0px 1.24% 0px 97.94%;
  min-height: 12px;
  object-fit: cover;
  width: 6px;
}
.partial-code .rect2 {
  background-color: white;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 10px 10px 80px 0px rgba(62, 38, 101, 0.2);
  min-height: 264px;
  bottom: 32px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;  
}
.partial-code .description {
  background-color: white;
  border-radius: 24px 24px 24px 24px;
  box-shadow: 10px 10px 80px 0px rgba(62, 38, 101, 0.2);
  min-height: 264px;
  bottom: 40px;
  position: absolute;
  
  display: block;
  justify-content: center;
  align-items: center;  
  
}   
    
.rect2 img {
    object-fit: cover;  /* 이미지 비율을 유지하면서 rect2에 맞게 조절 */

}

.rect2 .graph {
    width: 90%;  /* 이미지의 너비를 rect2의 너비에 맞춤 */
    height: 70%; /* 이미지의 높이를 rect2의 높이에 맞춤 */
}

.rect2 .safety {
    width: 30%;
    
    position: absolute;
    right: 10px;
    top: 10px;    z-index: 1000;
}

    
.partial-code .flex_row > .cell3 {
  display: grid;
  flex: 0 0 768px;
  margin-left: -723px;
  z-index: 1;
}
.partial-code .flex_col3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 7px 0px;
  margin: 346px 0px 358px;
  position: relative;
}
.partial-code .medium_title1 {
  color: #242730;
  font: 700 24px/1.39 "Poppins", Helvetica, Arial, serif;
  letter-spacing: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  position:relative;
  top:5px;

}
.partial-code .image {
  border-radius: 24px 24px 24px 24px;
  filter: drop-shadow(10px 10px 80px rgba(62, 38, 101, 0.298));
  margin: 0px auto 0px 0px;
  min-height: 180px;
  object-fit: cover;
  width: 49.61%;
}
.partial-code .flex_row > .cell4 {
  display: grid;
  flex: 0 0 732px;
  margin-left: -768px;
  z-index: 4;
}
.partial-code .flex_col4 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px 0px;
  margin: 32px 0px 605px;
  position: relative;
}
.partial-code .rect1 {
  background-color: #2e2e68;
  border-radius: 14px 14px 14px 14px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
  min-height: 242px;
  outline: 5px solid white;
}
.partial-code .flex_row > .cell5 {
  display: grid;
  flex: 0 0 319px;
  margin-left: -325px;
  z-index: 2;
}
.partial-code .box1 {
  border-radius: 24px 24px 24px 24px;
  display: grid;
  filter: drop-shadow(10px 10px 80px rgba(62, 38, 101, 0.098));
  flex-grow: 1;
  margin: 392px 0px 448px;
  position: relative;
}
.partial-code .content_box {
  display: grid;
  flex-grow: 1;
  position: relative;
  top: 5px;
}
.partial-code .image1 {
  border-radius: 24px 24px 24px 24px;
  bottom: 0px;
  filter: drop-shadow(10px 10px 80px rgba(62, 38, 101, 0.098));
  left: 0px;
  margin: 0px auto;
  min-height: 85px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  
}
.partial-code .highlight11 {
  color: white;
  flex-grow: 1;
  font: 700 18px/1.39 "Poppins", Helvetica, Arial, serif;
  letter-spacing: -1.3px;
  margin: 16px 73.35% 38px 5.64%;
  width: 24%;
  position: relative;
  z-index: 4;
  font-family: 'Noto Sans KR', sans-serif;

}
.partial-code .flex_row > .cell6 {
  display: grid;
  flex: 0 0 319px;
  margin-left: -319px;
  z-index: 3;
}
.partial-code .box2 {
  border-radius: 24px 24px 24px 24px;
  display: grid;
  filter: drop-shadow(10px 10px 80px rgba(62, 38, 101, 0.098));
  flex-grow: 1;
  margin: 487px 0px 358px;
  position: relative;
}
.partial-code .content_box2 {
  display: grid;
  flex-grow: 1;
  position: relative;
  top: 19px;
}
.partial-code .image2 {
  border-radius: 24px 24px 24px 24px;
  bottom: 0px;
  filter: drop-shadow(10px 10px 80px rgba(62, 38, 101, 0.098));
  left: 0px;
  margin: 0px auto;
  min-height: 80px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}
.partial-code .highlight12 {
  color: white;
  flex-grow: 1;
  font: 700 18px/1.39 "Poppins", Helvetica, Arial, serif;
  letter-spacing: -1.3px;
  margin: 16px 73.35% 38px 5.64%;
  width: 24%;
  position: relative;
  z-index: 4;
  font-family: 'Noto Sans KR', sans-serif;

}
    .partial-code .cov_text{
        left: 100px;
        top: -8px;
        position: absolute;
        padding: 22px;
        font: 700 18px/1.39 "Poppins", Helvetica, Arial, serif;

        font-family: 'Noto Sans KR', sans-serif;
        font-size:40px;
        color:white;

    }
    .partial-code .code_style{
        position: absolute;
        padding: 110px;
        left: -48px;
        font: 700 18px/1.39 "Poppins", Helvetica, Arial, serif;

        font-family: 'Noto Sans KR', sans-serif;
        font-size:80px;
        color:white;
       
}
    }

    </style>