{%load static%}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script src="{% static 'js/index.js' %}"></script>
<html lang="ko">
<head>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
<div class="partial-code root">
  <div class="box">
      <button id="nextButton">조서작성</button>
    <div class="flex_row">
      <div class="cell">
        <div class="flex_col">
          <div class="cell"><img class="cover" src="/assets/8de0b46f9bdf405ae79a4fc813340ac6.png" alt="alt text" /></div>
          <div class="cell1"><img class= "cover" src="https://i.imgur.com/NtNNE3w.png" title="source: imgur.com" /></div>
          <div class="cell2"><h1 class="big_title">ALICE</h1></div>
          <div class="cell3"><img class="icon" src="https://i.imgur.com/QQrcFCO.png" alt="alt text" /></div>
          
          <div class="cell4"><h5 class="highlight">
              <input type="file" id="audioFile" accept="audio/*" style="display: none;">
              <label for="audioFile" id ="audioFile">오디오 파일 선택</label></h5></div>
          <div class="cell5"><img class="icon1" src="https://i.imgur.com/OWYQl2f.png" alt="alt text" /></div>
          <div class="cell6"><button type="button" class="highlight1" id="startRecordButton" >녹음 시작</button></div>
          <div class="cell7"><img class="icon1" src="https://i.imgur.com/JEfMqhO.png" alt="alt text" /></div>
          <div class="cell8"><button type="button" class="highlight1" id="stopRecordButton"  >녹음 종료</button>

            </div>
            
          <div class="cell9"><div class="rect"></div></div>
          <div class="cell10"><img class="cover1" src="https://i.imgur.com/Cq3D3ox.png" alt="alt text" /></div>
          <div class="cell11"> <button type="button" class="subtitle" id="convertButton"  onclick="convertAudioToText()"style="border: none; background: none; padding: 0; font: inherit; cursor: pointer;">실행</button></div>
        </div>
                      <div id="indicator" style="z-index:100;position:absolute ;left:130px;top:450px"></div>
      </div>
      <div class="cell1">
        <div class="flex_col1">
          <img class="image4" src="https://i.imgur.com/b8izXeK.png" title="source: imgur.com" />
            
            <div id = "map">  </div>
            <div id="menu_wrap">
                <div class="option">
            </div>
            <hr>
            <ul id="placesList" style="padding-inline-start: 0px;"></ul>
            <div id="pagination"></div>
        </div>

          <div class="box3">
            <div class="flex_row1">
              <img class="image5" src="https://i.imgur.com/t9ZEUlN.png" type="image/png" alt="alt text" />
              <div class="cell"><img class="image6" src="https://i.imgur.com/Eji9r94.png" alt="alt text" /></div>
              <h5 class="highlight2">로드뷰 맵</h5>
              <div class="cell1"><div class="infor">ROAD VIEW MAP</div>
                </div>
            </div>
          <div id="roadview"> </div>
          
            </div>
        </div>
          
      </div>
      <div class="spacer"></div>
        
      <div class="cell2">
        <div class="flex_col2">
        <h2 class="medium_title">안심상권지수</h2>
        <div class="cell"><h3 class="subtitle1">2023</h3></div>
        <div class="cell1"></div>
        
        <div class="rect2" id="convertedImage" onclick="showDescription('photo1')" class="graph">
            <img src="{% static 'safety_zisoo.png'%}" alt="Safety Zisoo Image" class="safety">
        </div>
        <div class="description" id="description">
            <h2 id="photo-title"></h2>
            <p id="photo-description"></p>
            <div id="additional-photos" class="additional-photos"></div>
        </div>
        </div>
      </div>

      <div class="cell3">
        <div class="flex_col3">
          <h2 class="medium_title1">코드 분류</h2>
          <img class="image" src="https://i.imgur.com/nNdf8N6.png" alt="alt text" />
            <div id="Code" class="code_style">
            </div>
        </div>
      </div>
        
      <div class="cell4">
        <div class="flex_col4">
          <h2 class="medium_title1">변환된 텍스트</h2>
          <div class="rect1">
            <div id = "convertedText" style="color:white; padding:20px">
                
              </div>

            </div>
        </div>
      </div>
      <div class="cell5">
        <div class="box1">
          <div class="content_box">
            <div class="content_box">
              <img class="image1" src="https://i.imgur.com/6jzRXwQ.png" alt="alt text" />
              <h4 class="highlight11">예측확률</h4>
                <div id="prob" class="cov_text">
                    
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell6">
        <div class="box2">
          <div class="content_box2">
            <img class="image2" src="https://i.imgur.com/41Aalfm.png" alt="alt text" />
            <h4 class="highlight12">사건분류</h4>
              <div id="get" class="cov_text">
                  
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

