{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>키워드로 장소검색하고 목록으로 표출하기</title>
    <link rel="stylesheet" href="{% static 'css/index_final.css' %}">
    <script src="{% static 'js/index_final.js' %}"></script>

<h1>
<img src="https://i.imgur.com/1qBjQJH.png" alt="경찰 로고" id="policeLogo">
</h1>
</head>
<body>
    <div class="container">
     <ul>
         
        
        <div class="form-section">
            <h2>위치검색</h2>
            
            <input type="text" id="location" name="location">
        </div>
        <div class="form-section">
            <h2>발생주소</h2>
            
            <input type="text" id="address" name="address" >
        </div>
        <div class="form-section">
            <h2>지번주소</h2>
            
            <input type="text" id="jibunAddress" name="jibunAddress">
        </div>

        <div class="form-section">
            <h2>신고내용</h2>
            
            <textarea id="reportContent" name="reportContent" rows="6"></textarea>
        </div>
        </ul>
        <div>
        <ul id = "code">
            <div id="code0">
                <label for="code0Checkbox">CODE 0</label>
                <input type="checkbox" id="code0Checkbox">
            </div>
            <div id="code1">
                <label for="code1Checkbox">CODE 1</label>
                <input type="checkbox" id="code1Checkbox">
            </div>
            <div id="code2">
                <label for="code2Checkbox">CODE 2</label>
                <input type="checkbox" id="code2Checkbox">
            </div>
            <div id="code3">
                <label for="code3Checkbox">CODE 3</label>
                <input type="checkbox" id="code3Checkbox">
            </div>
            <div id="code4">
                <label for="code4Checkbox">CODE 4</label>
                <input type="checkbox" id="code4Checkbox">
            </div>
        </ul>
        </div>

    </div>
        <div>
            <button id="submit" style="align:center">
                제출
            </button>
        </div>
</body>
</html>
